*.pyc
*~
*.swp
*.tar.gz
usda_api.txt
__pycache__/*
__pycache__*
user/*
test/htmlcov/*
variance/__pycache__
variance/venv
variance/instance
instance/
.env
variance.log
docs/build/
env/
exported/
imported/
scripts/variance.log
docs/source/_autosummary/
.vimrc
old/
