# This workflow runs on the GitHub runners and runs
# the offline units tests

name: Manual GitHub Unit Tests

on:
    workflow_dispatch:

jobs:
  manual-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
        cache: "pip"
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements_dev.txt
    - name: Load Fixtures
      run: |
        export FLASK_APP=variance.create_app
        python3.10 -m flask db init
        python3.10 -m flask units import variance/fixtures
        python3.10 -m flask muscles import variance/fixtures
        python3.10 -m flask equipment import variance/fixtures
    - name: CLI Listings
      run : |
        python3.10 -m flask units list
        python3.10 -m flask muscles list
        python3.10 -m flask equipment list
