# This workflow runs on the GitHub runners and runs
# the offline units tests

name: Manual GitHub Unit Tests

on:
    workflow_dispatch:

jobs:
  manual-test:

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        python3.7 -m pip install --upgrade pip
        python3.7 -m pip install -r requirements_dev.txt
    - name: Load Fixtures
      run: |
      set FLASK_APP=variance.create_app
      python3.7 -m flask run
      python3.7 -m flask db init
      python3.7 -m flask units import variance/fixtures
      python3.7 -m flask muscles import variance/fixtures
      python3.7 -m flask equipment import variance/fixtures
    - name: CLI Listings
      run : |
      python3.7 -m flask units list
      python3.7 -m flask muscles list
      python3.7 -m flask equipment list
